.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(222, 144, 0);
}

.AddCommand{
  background-color: #000000;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(222, 144, 0);
}

.App-link {
  color: #61dafb;
}

.Command{
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: 1px solid rgb(255, 166, 0);
  font-size: large !important;
  font-size: medium !important;
  cursor: pointer;
}

.Popup{
  color: rgb(255, 166, 0);
  background: rgba(0, 0, 0, 0.532);
}

.Button{
  color: rgb(255, 166, 0);
  background: rgba(0, 0, 0, 0.532);
  border-radius: 4px;
  border: 1px solid rgb(255, 166, 0) !important;
  padding: .5rem;
  margin: .5rem;
  border: none; 
  cursor: pointer;
}

.AddCommand input{
  color: rgb(255, 166, 0);
  font-size: large;
  background: rgb(0, 0, 0);
  border-radius: 4px;
  border: 1px solid rgb(255, 166, 0) !important;
}

input:hover, button:hover{
  background: rgb(30, 17, 2);
}

input:focus{
  background: rgb(0, 0, 0);
  border: none;
  outline: none;
}

.Invisible{
  background: transparent; 
  border :none; 
  color: transparent;
}

.Inline{
  display: flex;
  align-items: center;
}

.CommandText{
  /* why am I adding 5px when I wanted to remove margin to fix it?*/
  margin-bottom: 5px;
}